*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.home{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(79, 79, 253);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .homeContent{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}
.home .homeContent .homeTitle h1{
    font-size: 4em;
    margin: .5em 0;
    letter-spacing: 2px;
}
.home .homeContent .homeTitle p{
    letter-spacing: 2px;
    font-size: 1.5em;
}

/* about */
.about{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.897);

}
.about .aboutContent{
    width: 90%;
    margin: 0 auto;
}

.about .aboutContent h1{
    text-align: center;
    font-size: 3em;
}


.about .aboutContent p{
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 1em;
    font-style: italic;
    font-size: 1.5em;
    color: aliceblue;
    
}

.skill{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.897);
    height: 100vh;
}

.skill .skillContent{
    width: 90%;
    margin: 0 auto;
}
.skill .skillContent .skillHeader h1{
    color: aliceblue;
    font-size: 3em;
}
.skillsLists{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}
.skillsLists .skillBox{
    padding: 1em 1em;
    text-align: center;
    border-bottom: 2px solid rgb(79, 79, 253);
    background-color: #3E2C41;
}
.skillsLists .skillBox:hover{
    background-color: rgb(79, 79, 253);
}

/* projects */
.projects{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.897);
    height: 100vh;
}

.projects .projectsContent{
    width: 90%;
    margin: 0 auto;
    
}
.projects .projectsContent .projectSubDesc{
    letter-spacing: 2px;
}

.services{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.897);
    height: 100vh;
    clear: both;
}
.services .servicesContent{
    width: 90%;
    margin: 0 auto;
}

.services .servicesContent .listServices{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
.services .servicesContent .listServices .servicesBox{
    padding: 1em 1em;
    border-top: 1px solid rgb(79, 79, 253);
    background-color: #3E2C41;
}
.services .servicesContent .listServices .servicesBox:hover{
    background-color: rgb(79, 79, 253);
}
.services .servicesContent .listServices .servicesBox:hover .serviceHeader h3{
    color: aliceblue!important;
}

.services .servicesContent .listServices .servicesBox .serviceHeader{
    text-align: center;
    font-weight: 300;
    margin-bottom: 2em;
 
}

.services .servicesContent .listServices .servicesBox .serviceHeader h3{
    font-weight: 300;
}

.services .servicesContent .listServices .servicesBox .serviceBody{
    text-align: center;
    color: aliceblue;
    letter-spacing: 2px;
}

.siteFooter{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(79, 79, 253);
    padding: 1em 0;
    text-align: center;
    color: aliceblue;
    letter-spacing: 2px;

}


